<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>trip</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/kisspng-egyptian-pyramids-computer-icons-egyptian-money-5adf8f90eab4a0.2796726215246007209614.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
        /* top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #279fcb;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  width: 70px;
}

#myBtn:hover {
  background-color: #555;
}

table, th, td {
  border: 1px solid black;
border-radius: 10px;
}
/* button style */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: rgb(108, 107, 107);
  background: rgb(17, 17, 17);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: 600;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #249ECB, #ff7300, #249ECB, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing_54134 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing_54134 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* scroll album */
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

/* 
---------------------------------------------
Loader Style
--------------------------------------------- 
*/

.js-preloader {
  /* You must change postion:relative; for position:fixed;  */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes dot8567 {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dots723423 {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #249ECB;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot8567 2.8s infinite;
  animation: dot8567 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots723423 2.8s infinite;
  animation: dots723423 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #249ECB;
  border-radius: 50%;
}

/* loader2 */
.loader {
  height: 2px;
  width: 300px;
  background: rgb(44, 44, 44);
  position: relative;
  overflow: hidden;
}
.loader .black_overlay {
  background: linear-gradient(
    87deg,
    rgb(249, 249, 249) 0%,
    rgba(249, 246, 246, 0.14) 30%,
    rgba(241, 238, 238, 0.14) 70%,
    rgb(254, 253, 253) 100%
  );
  position: absolute;
  inset: 0px;
}
.loader .light {
  width: 70px;
  height: 100%;
  position: absolute;
  left: -20%;
  top: 0px;
  background: linear-gradient(
    87deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 204, 255) 40%,
    rgb(0, 204, 255) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: light 2s infinite ease-in-out;
}

@keyframes light {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}
.container2 {
      width: 80%;
      text-align: center;
      background-color: #f9f9f9;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      margin-bottom: 50px;
    }
    




        .pay-button {
            background-color: #249ECB;
            color: #fff;
            border: none;
            padding: 10px 50px;
            font-size: 23px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .pay-button:hover {
            background-color: #90bbca;
            transform: translateY(-2px);
        }

        .pay-button:active {
            background-color: #249ECB;
            transform: translateY(2px);
        }


    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/Home">
                                        <img style="height: 70px; width: 130px; margin-bottom: -10px;" src="/img/circular-logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/Home">home</a></li>
                                            <li><a href="/About">About</a></li>
                                            <li><a class="" href="/Astro_Tourism">Astro-Tourism Guide</a></l/li>
                                            <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="/Tourguides">tourgieds</a></li>
                                                        <li><a href="/Embassies">Embassies</a></li>
                                                        <li><a href="/Food">Popular Food</a></li>
                                                        <li><a href="/Music">Local Music</a></li>
                                                        <li><a href="/Companies">Companies</a></li>
                                                        <li><a href="/Language">Language Learning Platform</a></li>
                                                        <li><a href="/Weather">Weather Of Egypt</a></li>
                                                        <li><a href="/Travel_Tips">Egypt Travel Tips</a></li>
                                                        <li><a href="/Travel_Visa">Egypt Travel Visa</a></li>
                                                </ul>
                                            <li><a href="/Contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div  class="col-xl-4 col-lg-4 d-none d-lg-block">
                                <div class="social_wrap d-flex align-items-center justify-content-end">
                                    <div class="number">
                                        <p> <i class="fa fa-phone"></i> 10(256)-928 256</p>
                                    </div>
                                    <div class="social_links d-none d-xl-block">
                                        <ul>
                                           
                                              <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                              </svg>
                          </a>
                          <!-- Dropdown - User Information -->
                          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                              aria-labelledby="userDropdown">
                              <a class="dropdown-item" href="/karim">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>          Profile
                              </a>
                              
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/sign_in/log_out" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z"/>
                                  <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                                </svg >
                                  Logout
                              </a>
                          </div>
                      </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="seach_icon">
                                <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
<!-- modal -->
     <div id="id01" class="modal">
  
        <form class="modal-content animate" action="" method="post">
          <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
           {{!-- name --}}
            <h1 id="show_name"></h1>
            <div id="js-preloader" class="js-preloader">
                <div class="preloader-inner">
                    <span class="dot"></span>
                    <div class="dots">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
          
         <!-- video -->
         <p align="center"><iframe id="show_video_link" style="border-radius: 20px;" width="850" height="500px"  src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </p>
         <!-- description -->
            <div class="container2">
                <p id="show_description"></p>
                <p id="hide_wiki_link">For more inforation visit <a id="show_wiki_link" href="">Wikipedia</a></p>
              </div>
          <!-- loader -->
              <div id="show_hide_loader1" style="margin-left: 380px;" class="loader">
                <div class="light"></div>
                <div class="black_overlay"></div>
              </div>
<br>

<div id="show_hide_image_class" class="scroll-container">
  <img id="show_image_1" src="" alt="Cinque Terre" width="600" height="400">
  <img id="show_image_2" src="" alt="Forest" width="600" height="400">
  <img id="show_image_3" src="" alt="Northern Lights" width="600" height="400">
  <img id="show_image_4" src="" alt="Mountains" width="600" height="400">
  <img id="show_image_5" src="" alt="Mountains" width="600" height="400">
  <img id="show_image_6" src="" alt="Mountains" width="600" height="400">
</div>
<br>
<!-- loader -->
<div id="show_hide_loader2" style="margin-left: 380px;" class="loader">
  <div class="light"></div>
  <div class="black_overlay"></div>
</div>

              <h3 id="show_hide_location_name">Location</h3>
         <!-- map -->
<p align="center"><iframe id="show_location_link" src="" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe></p>
</div>
      <!-- loader -->
      <div style="margin-left: 380px;" class="loader">
        <div class="light"></div>
        <div class="black_overlay"></div>
      </div>
<br>

<div class="container2">
   <div>
    <h4> Tickets:</h4>
    <div>
        
      <br>
      <table align="center" border="1" cellpadding="4" cellspacing="0" class="table table-striped" style="width:89%;">
<tbody>
  <tr>
      <td>&nbsp;</td>
      <td>Egyptians</td>
      <td>Non-Egyptians</td>
  </tr>
  <tr>
      <td>Students (schools, universities)</td>
      <td id="show_Egy_Student_Ticket"></td>
      <td id="show_Non_Egy_Student_Ticket"></td>
  </tr>
  <tr>
      <td>Adults</td>
      <td id="show_Egy_Adults_Ticket"></td>
      <td id="show_Non_Egy_Adults_Ticket"></td>
  </tr>
  <tr>
      <td>Senior Citizens (age 60+)</td>
      <td id="show_Egy_Senior_Ticket"></td>
      <td id="show_Non_Egy_Senior_Ticket"></td>
  </tr>
  <tr>
      <td>Special Needs</td>
      <td id="show_Egy_Special_Needs_Ticket"></td>
      <td id="show_Non_Egy_Special_Needs_Ticket"></td>
      
  </tr>
</tbody>
</table>
<br>
</div>
   </div>
   <br>
   <div>
    <h4 id="show_hide_opening_housr_name">Opening Hours:</h4>
    <p id="show_Opening_Hours"></p>
   </div>
   <div>
    <p id="show_hide_website">Website of : <a id="show_place_website" href="https://www.bibalex.org/Libraries/Presentation/Static/15510.aspx?dummy=0">Bibliotheca Alexandria</a></p>
   </div>
</div>
 <!-- loader -->
 <div style="margin-left: 380px;" class="loader">
    <div class="light"></div>
    <div class="black_overlay"></div>
  </div>


          <div class="container">
            
          </div>
      
         
        </form>
      </div>
             <!--end of modal -->



<div class="container">
<div class="row">
  <div class="col-lg-12">

          <div class="section-heading">
              <h1 >{{trip.title}}</h1>
              </div>
              <div class="single-content-item gx-content-item py-2">
                  <div class="row">
                  <div class="col-lg-12" itemscope itemtype="http://schema.org/Table">
                  <h2 itemprop="about"><span class="ms-1 me-3">Tour Details</h2>
                  <table class="table tour-info-table"style="width: 1100;">
                      <tbody>
                          <tr>
                          <td><span class="me-3">Duration</span></td>
                          <td>
                          {{trip.duration}} </td>
                          </tr>
                          <tr>
                          <td><span class="me-3">Tour Location</span></td>
                          <td>
                          {{trip.tour_location}} </td>
                          </tr>
                          <tr>
                          <td><span class="me-3">Tour Availability</span></td>
                          <td>
                          {{trip.tour_availability}} </td>
                          </tr>
                          <tr>
                          <td><span class="me-3">Pickup & Drop Off</span></td>
                          <td>
                          {{trip.Pickup_and_Drop_Off}} </td>
                          </tr>
                          <tr>
                          <td><span class="me-3">Tour Type</span></td>
                          <td>
                          {{trip.tour_type}} </td>
                          </tr>
                          </tbody>
                          </table>
                          </div>
                          </div>
                          </div>
                          <div class="section-block"></div>
<div class="single-content-item gx-content-item py-2" id="tour-intro">
<h2>{{trip.title}}</h2>
<p>{{trip.tour_description}}</p>
</div>
<div class="single-content-item gx-content-item py-2" id="tour-intro">
<h2 id="lunch_time_name" style="display: none;">Lunch Time</h2>
<p id="lunch_time">{{trip.lunch_time}}</p>
<script>
if(document.getElementById("lunch_time").innerHTML !=""){
  document.getElementById("lunch_time_name").style.display = "block";
}
</script>
</div>
<div class="page-scroll">
<div class="single-content-item py-5">
<h2 id="itinerary_name" style="display: none;"><span class="me-3"></span>Tour Itinerary</h2>
</div>
<div class="flex-shrink-0 mt-2 mr-4 mb-4 itinerary-image">
<img id="itinerary_image" style="display: none;" src="/img/Trip/trip.jpg" >
</div>
<p id="tour_itinerary">{{trip.tour_itinerary}}</p>
<script>
if(document.getElementById("tour_itinerary").innerHTML !=""){
  document.getElementById("itinerary_name").style.display = "block";
  document.getElementById("itinerary_image").style.display = "block";

}
</script>
<!--trip_start -->
 <!--trip_start -->
 <div class="popular_places_area">
    <div class="container">
       <h2>Our destinations</h2>
       <br><br>
        <div class="row">
          {{#each idList}}
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="/img/Places/{{main_image}}" alt="">
                    </div>
                    <div class="place_info">
                            <h5 id="name" hidden>{{name}}</h5>
                            <h5 id="place_description" hidden>{{description}}</h5>
                            <h5 id="video_link" hidden>{{video_link}}</h5>
                            <h5 id="Wikipedia_link" hidden>{{Wikipedia_link}}</h5>
                            <h5 id="location_link" hidden>{{location_link}}</h5>
                            <h5 id="image_1" hidden>{{image_1}}</h5>
                            <h5 id="image_2" hidden>{{image_2}}</h5>
                            <h5 id="image_3" hidden>{{image_3}}</h5>
                            <h5 id="image_4" hidden>{{image_4}}</h5>
                            <h5 id="image_5" hidden>{{image_5}}</h5>
                            <h5 id="image_6" hidden>{{image_6}}</h5>
                            <h5 id="Egy_Student_Ticket" hidden>{{Egy_Student_Ticket}}</h5>
                            <h5 id="Non_Egy_Student_Ticket" hidden>{{Non_Egy_Student_Ticket}}</h5>
                            <h5 id="Egy_Adults_Ticket" hidden>{{Egy_Adults_Ticket}}</h5>
                            <h5 id="Non_Egy_Adults_Ticket" hidden>{{Non_Egy_Adults_Ticket}}</h5>
                            <h5 id="Egy_Senior_Ticket" hidden>{{Egy_Senior_Ticket}}</h5>
                            <h5 id="Non_Egy_Senior_Ticket" hidden>{{Non_Egy_Senior_Ticket}}</h5>
                            <h5 id="Egy_Special_Needs_Ticket" hidden>{{Egy_Special_Needs_Ticket}}</h5>
                            <h5 id="Non_Egy_Special_Needs_Ticket" hidden>{{Non_Egy_Special_Needs_Ticket}}</h5>
                            <h5 id="Opening_Hours" hidden>{{Opening_Hours}}</h5>
                            <h5 id="place_website" hidden>{{place_website}}</h5>
                            <h4 id="the_id" hidden>{{_id}}</h4>
                            <script>
                                ele2 = document.getElementById("the_id").innerHTML
                                document.getElementById("the_id").remove();
                                document.getElementById("name").id = ele2;
                                document.getElementById("place_description").id = ele2+1;
                                document.getElementById("video_link").id = ele2+2;
                                document.getElementById("Wikipedia_link").id = ele2+3;
                                document.getElementById("location_link").id = ele2+4;
                                document.getElementById("image_1").id = ele2+5;
                                document.getElementById("image_2").id = ele2+6;
                                document.getElementById("image_3").id = ele2+7;
                                document.getElementById("image_4").id = ele2+8;
                                document.getElementById("image_5").id = ele2+9;
                                document.getElementById("image_6").id = ele2+10;
                                document.getElementById("Egy_Student_Ticket").id = ele2+11;
                                document.getElementById("Non_Egy_Student_Ticket").id = ele2+12;
                                document.getElementById("Egy_Adults_Ticket").id = ele2+13;
                                document.getElementById("Non_Egy_Adults_Ticket").id = ele2+14;
                                document.getElementById("Egy_Senior_Ticket").id = ele2+15;
                                document.getElementById("Non_Egy_Senior_Ticket").id = ele2+16;
                                document.getElementById("Egy_Special_Needs_Ticket").id = ele2+17;
                                document.getElementById("Non_Egy_Special_Needs_Ticket").id = ele2+18;
                                document.getElementById("Opening_Hours").id = ele2+19;
                                document.getElementById("place_website").id = ele2+20;


                            </script>
                      <h3>{{name}}</h3>
                      <p> {{governorate.name}}, Egypt</p>
                        <button onclick="tomodel($('{{_id}}'))" type="button" class="glow-on-hover">
                            <a onclick="tomodel($('{{_id}}'))"><h3>Read more</h3></a>
                            </button>
                            {{!-- ,$({ele}) --}}
                            <script language="javascript" type="text/javascript">
                                function tomodel(id){
                                    model = document.getElementById('id01');
                                    model.style.display='block';
                                    let path = "/img/Places/"
                                    {{!-- name --}}
                                    document.getElementById('show_name').innerHTML = document.getElementById(id.selector).innerHTML
                                    {{!-- description --}}
                                    document.getElementById('show_description').innerHTML = document.getElementById(id.selector+1).innerHTML
                                    {{!-- video_link --}}
                                    if(document.getElementById(id.selector+2).innerHTML=="None"){document.getElementById('show_video_link').style.display = "none";}
                                    else{document.getElementById('show_video_link').style.display = "block"; document.getElementById('show_video_link').src = document.getElementById(id.selector+2).innerHTML}
                                    {{!-- wiki_link --}}
                                    if(document.getElementById(id.selector+3).innerHTML=="None"){document.getElementById('hide_wiki_link').style.display = "none";}
                                    else{document.getElementById('hide_wiki_link').style.display = "block";document.getElementById('show_wiki_link').href = document.getElementById(id.selector+3).innerHTML}
                                    {{!-- location --}}
                                    if(document.getElementById(id.selector+4).innerHTML=="None"){
                                    document.getElementById('show_location_link').style.display = "none";
                                    document.getElementById('show_hide_location_name').style.display = "none";
                                    document.getElementById('show_hide_loader2').style.display = "none";}
                                    else{document.getElementById('show_location_link').style.display = "block";
                                    document.getElementById('show_hide_location_name').style.display = "block";
                                    document.getElementById('show_hide_loader2').style.display = "block";
                                    document.getElementById('show_location_link').src = document.getElementById(id.selector+4).innerHTML}
                                    {{!-- All Six Images --}}
                                    let image_1 = document.getElementById(id.selector+5).innerHTML
                                    let image_2 = document.getElementById(id.selector+6).innerHTML
                                    let image_3 = document.getElementById(id.selector+7).innerHTML
                                    let image_4 = document.getElementById(id.selector+8).innerHTML
                                    let image_5 = document.getElementById(id.selector+9).innerHTML
                                    let image_6 = document.getElementById(id.selector+10).innerHTML
                                    if(image_1=="" && image_2=="" && image_3=="" && image_4=="" && image_5=="" && image_6==""){
                                    document.getElementById('show_hide_loader1').style.display = "none";
                                    document.getElementById('show_hide_image_class').style.display = "none";}
                                    else{document.getElementById('show_hide_loader1').style.display = "block";
                                    document.getElementById('show_hide_image_class').style.display = "block";
                                    {{!-- image_1 --}}
                                    if(image_1==""){document.getElementById('show_image_1').style.display = "none";}
                                    else{document.getElementById('show_image_1').style.display = "initial" ; document.getElementById('show_image_1').src = path + image_1}
                                    {{!-- image_2 --}}
                                    if(image_2==""){document.getElementById('show_image_2').style.display = "none";}
                                    else{document.getElementById('show_image_2').style.display = "initial" ;document.getElementById('show_image_2').src = path + image_2}
                                    {{!-- image_3 --}}
                                    if(image_3==""){document.getElementById('show_image_3').style.display = "none";}
                                    else{document.getElementById('show_image_3').style.display = "initial" ;document.getElementById('show_image_3').src = path + image_3}
                                    {{!-- image_4 --}}
                                    if(image_4==""){document.getElementById('show_image_4').style.display = "none";}
                                    else{document.getElementById('show_image_4').style.display = "initial" ;document.getElementById('show_image_4').src = path + image_4}
                                    {{!-- image_5 --}}
                                    if(image_5==""){document.getElementById('show_image_5').style.display = "none";}
                                    else{document.getElementById('show_image_5').style.display = "initial" ;document.getElementById('show_image_5').src = path + image_5}
                                    {{!-- image_6 --}}
                                    if(image_6==""){document.getElementById('show_image_6').style.display = "none";}
                                    else{document.getElementById('show_image_6').style.display = "initial" ;document.getElementById('show_image_6').src = path + image_6}
                                    }
                                    {{!-- Ticket --}}
                                    document.getElementById('show_Egy_Student_Ticket').innerHTML = document.getElementById(id.selector+11).innerHTML;
                                    document.getElementById('show_Non_Egy_Student_Ticket').innerHTML = document.getElementById(id.selector+12).innerHTML;
                                    document.getElementById('show_Egy_Adults_Ticket').innerHTML = document.getElementById(id.selector+13).innerHTML;
                                    document.getElementById('show_Non_Egy_Adults_Ticket').innerHTML = document.getElementById(id.selector+14).innerHTML;
                                    document.getElementById('show_Egy_Senior_Ticket').innerHTML = document.getElementById(id.selector+15).innerHTML;
                                    document.getElementById('show_Non_Egy_Senior_Ticket').innerHTML = document.getElementById(id.selector+16).innerHTML;
                                    document.getElementById('show_Egy_Special_Needs_Ticket').innerHTML = document.getElementById(id.selector+17).innerHTML;
                                    document.getElementById('show_Non_Egy_Special_Needs_Ticket').innerHTML = document.getElementById(id.selector+18).innerHTML;
                                    {{!-- Opening_Hours --}}
                                    if(document.getElementById(id.selector+19).innerHTML==""){
                                      document.getElementById('show_hide_opening_housr_name').style.display = "none";
                                      document.getElementById('show_Opening_Hours').style.display = "none";}
                                    else{document.getElementById('show_hide_opening_housr_name').style.display = "block";
                                      document.getElementById('show_Opening_Hours').style.display = "block";
                                      document.getElementById('show_Opening_Hours').innerHTML = document.getElementById(id.selector+19).innerHTML;}
                                    {{!-- place_website --}}
                                    if(document.getElementById(id.selector+20).innerHTML=="None"){document.getElementById('show_hide_website').style.display = "none";}
                                    else{document.getElementById('show_hide_website').style.display = "block" ;
                                    document.getElementById('show_place_website').href =document.getElementById(id.selector+20).innerHTML
                                    document.getElementById('show_place_website').innerHTML =document.getElementById(id.selector).innerHTML}
                                    
                                    

                                window.onclick = function(){
                                    if (event.target==model){
                                        model.style.display='none';
                                        }
                                    }

                                }
                            </script>
                    </div>
                </div>
            </div>
            {{/each}}

                
         <!--trip_end -->
<form action="/Trip/pay" method="post">
      <div class="col-md-2">
        <input type="checkbox" name="name" value="{{trip.name}}" checked hidden>
        <input type="checkbox" name="price" value="{{trip_price}}" checked hidden>
                    <a href="/Trip/pay"><button class="pay-button">Pay</button></a>
        </div></form>
</div>
</div>
</div>
</div>
</div>

</div>
<!-- top button -->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
              <div class="col-xl-2 col-lg-2">
                  <div class="logo">
                      <a href="index.html">
                          <img src="/img/logoo.png" alt="">
                      </a>
                  </div>
              </div> <br>
            <p class="pb-3"><em>TRAVEL TO EGYPT is a website for helping tourists enjoy their travel to egypt </em></p>
            <p>
             Computer and Information <br>
              Menoufia University<br><br>
              <strong>Phone:</strong> +20 00 0000 0000<br>
              <strong>Email:</strong> travel@egypt.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                </svg></a>
              <a href="#" class="facebook"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                  <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                </svg></a>
              <a href="#" class="instagram"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                  <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                  <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                </svg></a>
              <a href="#" class="google-plus"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
                </svg></a>
              <a href="#" class="linkedin"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                  <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Governments of EGY</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">popular places in governments</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">tourgieds</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">places recognition</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">work as a tourguide</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>TRAVEL TO EGYPT</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
      Designed by <a href="">About Us Page</a>
    </div>
  </div>
</footer><!-- End Footer -->





<!-- Modal -->
<div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="serch_form">
          <input type="text" placeholder="Search" >
          <button type="submit">search</button>
      </div>
    </div>
  </div>
</div>
  <!-- link that opens popup -->
<!--     
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>

  <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script> -->
  <!-- JS here -->
  <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/ajax-form.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/scrollIt.js"></script>
  <script src="/js/jquery.scrollUp.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/nice-select.min.js"></script>
  <script src="/js/jquery.slicknav.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/gijgo.min.js"></script>
  <script src="/js/slick.min.js"></script>
 

  
  <!--contact js-->
  <script src="/js/contact.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>


  <script src="/js/main.js"></script>
  <script>
      $('#datepicker').datepicker({
          iconsLibrary: 'fontawesome',
          icons: {
           rightIcon: '<span class="fa fa-caret-down"></span>'
       }
      });
  </script>
  </script>
  <!-- /top/ -->
  <script>
      // Get the button
      let mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>
</body>

</html>